{% extends 'layout.html' %}

{% block body %}
  <h1>Welcome to flaskFight!</h1>
  <form method="post" action="/characters">
    <label>Give a name for the barbarian!</label><br>
    <input name="barbarian_name" placeholder="the mighty barbarian"><br>
    <label>Give a name for the mage!</label><br>
    <input name="mage_name" placeholder="the destructive mage"><br>
    <button class="btn btn-success">Enter the arena!</button>
  </form>
  <p><a href="https://github.com/IstvanN/flaskFight">This application was written by: Istvan "Archie" Nemeth</a></p>
{% endblock %}
